ul {
    padding: 0;
}
.task-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #888888;
}

.error-message {
    color: red;
}

.task-title {
    font-size: 24px;
    font-weight: bold;
}

.task-description {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.task-chip-container {
    margin-top: 10px;
}

.task-chip {
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.public-task {
    background-color: #4caf50; /* Green */
}

.private-task {
    background-color: #f44336; /* Red */
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.like-button,
.unlike-button {
    padding: 8px 16px;
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    cursor: pointer;
}

.unlike-button {
    background-color: #f44336; /* Red */
}
